[Unit]
Description=Go Node control protocol module
After=network.target

[Service]
Type=simple
Environment=NCP_CONF=/etc/ncp/config.yml
User=nobody
Restart=on-failure
RestartSec=5s
ExecStart=/usr/bin/ncpgo
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target

