[Unit]
Description=Node control protocol module
After=network.target
# http api-auth need time sync after
# https://www.freedesktop.org/software/systemd/man/systemd-time-wait-sync.service.html
After=systemd-time-wait-sync.service

[Service]
Type=simple
#User=nobody
Restart=on-failure
RestartSec=5s
WorkingDirectory=/usr/lib/ncp/
ExecStart=/usr/lib/ncp/ncp -c /etc/ncp/%i.yml
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target

